/* @media only screen and (max-width: 375px) {
    #subscribe-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EAC435;
    }

    .subscribe-section {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 80px;
    }

    .subscribe-section h2 {
        padding-top: 56px;
        height: 70px;
        width: 304px;
        font-weight: 900;
        font-size: 24px;
        line-height: 110.19%;
        text-decoration-line: underline;
        color: #273043;
        text-align: center;
    }

    #email-privacy {
        width: 80%;
    }

    #email-privacy a {
        width: 100%;
    }

    #email-privacy input {
        width: 100%;
        font-size: 10px;
        background-color: transparent;
        border: none;
        color: #17255A;
        border-bottom: 1px solid #17255A;
        margin-bottom: .8rem;
        margin-top: 50px;
        padding-bottom: .5rem;
        padding-top: .5rem;
        text-transform: uppercase;
    }

    ::placeholder {
        color: #17255A;
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 11px;
        letter-spacing: 1.5px;
        text-align: left;
        opacity: 1;
        
    }

    :-ms-input-placeholder {
        
        color: #17255A;
    }

    ::-ms-input-placeholder {
      
        color: #17255A;
    }

    #subscribe-form {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #subscribe-form button {
        margin: 60px;
        padding: 10px 12px;
        border: 1px solid #17255A;
        color: #17255A;
        border-radius: 4px;
        background-color: transparent;
    }

    #subscribe-form a {
        text-decoration: none;
        color: #17255A;
        font-family: "Nunito", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        text-decoration: underline;
    }

    #subscribe-section-landing {
        background-color: #03CEA4;
        
    }

} */

@media only screen and (min-width: 376px) {
    #subscribe-container {
        background-color: #FFFFFF;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: grey;

    }

    #subscribe-container a:first-child {
        align-self: center;
        justify-self: center;
        margin: 0 2.5%;
        width: 5%;
    }

    .subscribe-section {
        padding-left: 3em;
        padding: 5% 0;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        background-color: #EAC435;
    }

    #subscribe-section-landing {
        background-color: #03CEA4;
        flex-wrap: wrap;
    }

    .subscribe-section h2 {
        height: 105px;
        width: 35%;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0.25px;
        text-align: left;
        color: #273043;
        padding: 0 2rem;
        text-transform: capitalize;
    }

    #email-privacy {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #email-privacy a {
        text-decoration: none;
        color: #17255A;
        font-family: "Nunito", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;

    }

    #email-privacy input {
        width: 100%;
        font-size: 10px;
        background-color: transparent;
        border: none;
        color: #17255A;
        border-bottom: 1px solid #17255A;
        margin-bottom: .8rem;
        padding-bottom: .5rem;
        padding-top: .5rem;
        text-transform: uppercase;
    }

    ::placeholder {
        color: #17255A;
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 11px;
        letter-spacing: 1.5px;
        text-align: left;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #17255A;
    }

    ::-ms-input-placeholder {
        color: #17255A;
    }

    #subscribe-form {
        display: flex;
        width: 50%;
        padding: .5rem 0;
        height: 100%;
        flex-wrap: wrap;
        align-self: center;
        justify-content: space-evenly;
    }

    #subscribe-form button {
        margin: 1rem 0;
        border: 1px solid #17255A;
        box-sizing: border-box;
        color: #17255A;
        height: 36px;
        padding: 10px 12px;
        border-radius: 4px;
        align-self: center;
        text-decoration: none;
        background-color: transparent;
    }
}

#subscribe-section-landing #subscribe-form button:hover {
    color: #03CEA4;
    background-color: #17255A;
    opacity: 1;
}

#subscribe-form button:hover {
    color: #EAC435;
    background-color: #17255A;
    opacity: 1;
}