
#subscribe-container {
    background-color: #FFFFFF;
    width: 100%;
    height: 18em;
    display: grid;
    grid-template-columns: 12% 1fr;
}

#subscribe-container a:first-child{
    justify-self: center;
    align-self: center;
}

.subscribe-section {
    display: grid;
    grid-template-columns: 60% 1fr;
    justify-content: center;
    align-content: center;
    background-color: #EAC435;
}
#subscribe-section-landing{
    background-color: #03CEA4;
}

.subscribe-section h2 {
    width: 70%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.25px;
    text-align: left;
    color: #273043;
    padding: 0 2rem;
    text-transform: capitalize;
}

#email-privacy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#email-privacy a {
    text-decoration: none;
    color: #17255A;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;

}

#email-privacy input {
    width: 70%;
    font-size: 10px;
    background-color: transparent;
    border: none;
    color: #17255A;
    border-bottom: 1px solid #17255A;
    margin-bottom: .8rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-transform: uppercase;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #17255A;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 1.5px;
    text-align: left;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #17255A;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #17255A;
}

#subscribe-form {
    display: grid;
    grid-template-columns: 60% 1fr;
}

#subscribe-form button {
    border: 1px solid #17255A;
    box-sizing: border-box;
    color: #17255A;
    height: 36px;
    width: 108px;
    border-radius: 4px;
    align-self: center;
    background-color: transparent;
}

#subscribe-section-landing #subscribe-form button:hover {
    color: #03CEA4;
    background-color: #17255A;
}

#subscribe-form button:hover {
    color: #EAC435;
    background-color: #17255A;
}