.learnable-homepage {
    height: fit-content;
    margin: 0em;
    padding: 0;
}

#notification {
    background: #EAC435;
    height: fit-content;
    width: 100%;
    margin-top: 2.5rem;
}

#notification-main {
    
    color: #17255A;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#notification-1 p {
    font-family: "Nunito";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.25px;
    height: fit-content;
    width: 70%;
}

#notification-1 h4,
#notification-2 h4 {
    font-family: "Roboto", sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.3125rem;
    letter-spacing: 0.25px;
    text-align: left;
}

#notification-1,
#notification-2 {
    align-self: center;
    height: 80%;
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
}

#notification-2 {
    padding-top: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#notification-2 h4 {
    text-decoration: underline;
}

#notification-2 a:link,
#notification-2 a:visited {
    font-size: 17px;
    text-decoration: none;
    color: #17255A;
}

#notification-2 a:hover {
    text-decoration: none;
    color: #EAC435;
    background-color: #17255A;
}

#hero.learnable-homepage {
    height: fit-content;
}

#hero-intro.learnable-homepage-hero h1 {
    padding-top: 1.1em;
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 6.7rem;
    letter-spacing: -1.5px;
    text-align: left;
    font-size: 6rem;
    width: 50%;
}

#hero-intro.learnable-homepage-hero p {
    height: 81px;
    width: 25%;
}


.learnable-hero-media {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: #EEEEEE;
}

#learnable-hero-media {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr;
}

#learnable-hero-media div {
    padding-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40%;
}

#learnable-hero-media img:nth-child(2) {
    width: 100%;
    height: auto;
}

#explore-options {
    justify-self: flex-end;
    position: absolute;
    left: 55%;
    top: 820px;
    height: 250px;
    display: flex;
    flex-direction: row;
}

#explore-options div {
    height: 15.625rem;
    width: 15.625rem;
    border-radius: 7.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#explore-options div p {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #273043;
    width: fit-content;
    padding: 2px;
    margin: 0;
    padding-left: 2rem;
}

#explore-options div h5 {
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-left: 2rem;
}

#explore-options div a {
    text-decoration: none;
    color: #17255A;
    text-decoration: underline;
}

#explore-options div:nth-child(1) {
    background: #03CEA4;
    /* margin-right: .5rem; */
}

#explore-options div:nth-child(2) {
    background: #17255A;
    margin-left: .5rem;
}

#explore-options div:nth-child(2) p,
#explore-options div:nth-child(2) h5 a {
    color: #EEEEEE;
}

#explore-options div:nth-child(2) img {
    padding-left: .4rem;
}


/* Hero Statistics */
#hero-statistics {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

#statistics {
    align-self: center;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#hero-statistics .item {
    background-color: transparent;
    width: fit-content;
}

#hero-statistics .item p {
    width: 134px;
    height: 43px;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    padding-top: 1rem;
}

#hero-statistics .item p:first-of-type {
    width: 160px;
}

#hero-statistics .item h3 {
    width: 70px;
    height: 44px;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 110.19%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #03CEA4;
}

/* We make people great */
#we-make-people {
    height: fit-content;
    padding: 0;
    background-color: #ffffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#we-make-people-desc {
    align-self: center;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#we-make-people-desc p, .main-subsection-container.fun > div:nth-child(1) p{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #273043;
}

#we-make-people-desc h3, .main-subsection-container.fun > div:nth-child(1) h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 110.19%;
    text-transform: capitalize;
    color: #273043;
}


#we-make-people-desc h3 {
    padding: 0;
    margin: 0;
}

#white-bg {
    background-color: white;
}

/* Learning can be fun */

.main-subsection-container.fun {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-subsection-container.fun > div:nth-child(1){
    width: 30%;
    padding-left: 5%;
}

.main-subsection-container.fun > div:nth-child(2){
    width: 50%;
}
/* Learn from experts */
#experts-2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    padding: 0 10%;
}

#experts-2 h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 110.19%;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    color: #273043;
}

.main-subsection-container.experts #experts-1 {
    padding: 20% 0;
    background-color: transparent;
    align-self: center;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.experts-item {
    margin-bottom: 20px;
    width: 210.85px;
    height: 270.19px;
}

.experts-item p,
.experts-item h6 {
    padding: 3px;
    margin: 3px;
}

/* Learn to build */
.build-software {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#build-software-1 {
    align-self: center;
    padding-left:2.5%; 
    padding-right: 2.5%; 
    width: 45%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#build-software-2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#build-software-2 .item {
    height: 339px;
    width: 310px;
}

.cadet {
    background-color: #17255A;
    color: #EEEEEE;
}

.green {
    background-color: #03CEA4;
    color: #EEEEEE;
}

.saffron {
    background: #EAC435;
    color: #17255A;
}

.purple {
    background-color: #2D1E2F;
    ;
    color: #EEEEEE;
}

.metal {
    background-color: #273043;
    ;
    color: #FFFEFE;
}

.orange {
    background: #E13F29;
    color: #EEEEEE;
}

#build-software-2 .item h4 {
    padding: 20px;
    height: 111px;
    width: 254px;
    font-weight: 900;
    font-size: 34px;
    line-height: 110.19%;
    letter-spacing: 0.25px;
    text-transform: capitalize;
}

/* Accordion */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 26px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 110.19%;
    text-decoration-line: underline;
    color: #273043;
    border-bottom: 1px solid #CECDCD;
    padding-bottom: 1.2rem;
    display: flex;
}

.accordion img {
    align-self: flex-end;
    margin-left: 1rem;
    margin-bottom: .3rem
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    opacity: 0.7;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.showPanel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
}

.faq-section {
    height: fit-content;
}

#faq {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#faq h2 {
    align-self: flex-start;
    margin-left: 20%;
    margin-bottom: 10%;
}

#faq div {
    align-self: center;
}



/* Journal */

.journal-section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-top: 0;
}

.journal-section p {
    width: 156px;
    height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.4px;
    color: #273043;
    margin-top: 0px;
}

.journal-section>button {
    align-self: flex-start;
    margin: 60px 0px 86px 150px
}

.journal-section>h2 {
    align-self: flex-start;
    margin: 91px 0px 0px 100px
}

.journal-item {
    padding-top: 10px;
    margin: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.journal-item h4 {
    margin: 1rem 1rem;
    margin-left: 0em;
    padding-bottom: 0;
    height: fit-content;
}

.journal-copy-copy img {
    width: 90%
}

#journal-copy {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Mentions */

.mentioned-in {
    background-color: #FFFEFE;
    display: grid;
    grid-template-columns: 20% 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    padding: 70px 0px;
}

.mentioned-in h4 {
    height: fit-content;
    text-decoration: underline;
}

.mentioned-in-logos {
    display: flex;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}