.nav-links {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 15% 40% 40%;
    padding: .3em;
    height: 5rem;
    font-family: 'Nunito', sans-serif;
}

.landing-nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links img {
    align-self: center;
    justify-self: center;
}

.landing-nav-links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.landing-nav-links ul li {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9375em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.25px;
}

.landing-nav-links ul a {
    text-decoration: none;
    color: #273043;
}

#links-1 {
    text-transform: uppercase;
}

#dev-studio {
    align-self: center;
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16.8125em;
    height: 2.25em;
}

#dev-studio button {
    height: 100%;
    padding: 0px 10px 0px 12px ;
    border: 1px solid #17255A;
    text-transform: uppercase;
    background-color: white;
    border-radius: 4px;
}

#dev-studio p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.05em;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02500000037252903em;
    text-align: left;
    color: #273043;
}

/* Learnable Nav Links */

.learnable-nav-links{
    font-family: 'Nunito', sans-serif;
    background: #17255A;
    height: 3rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.learnable-nav-links button{
    margin: 0em 1em;
    background-color: transparent;
    border: none;
}

.learnable-nav-links a{
    letter-spacing: 1.25px;
    text-decoration: none;
    text-decoration: underline;
    color: #EEEEEE;
    text-transform: uppercase;
    align-self: center;
}

.learnable-nav-links a:active, .learnable-nav-links a:hover{
    color: #EAC435;
}