@media only screen and (max-width: 375px) {
    .mobile-nav-links {
        background-color: grey;
        height: 66px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links {
        height: 100vh;
        width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing-nav-links {
        padding-right: 29px;
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing-nav-links ul {
        height: 100%;
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .landing-nav-links ul li {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 600;
        line-height: 110.19%;
        display: flex;
        align-items: center;
        letter-spacing: 1.25px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }

    .landing-nav-links ul a {
        font-size: 15px;
        text-decoration: none;
        color: #273043;
    }

    .landing-nav-links img {
        align-self: flex-end;
    }
}

@media only screen and (min-width: 376px) {
    .nav-links {
        background-color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: .4em;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        position: sticky;
    }

    .landing-nav-links {
        height: 100%;
        width: 50%;
        margin-right: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links a {
        align-self: center;
        justify-self: center;
    }

    .landing-nav-links ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
    }

    .landing-nav-links ul li {
        font-family: 'Nunito', sans-serif;
        font-size: 0.9375em;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 1.25px;
    }

    .landing-nav-links ul a {
        text-decoration: none;
        color: #273043;
    }

    .landing-nav-links ul a:active {
        color: #F5772F;
    }

    #links-1 {
        text-transform: uppercase;
    }

    #dev-studio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 16.8125em;
        height: 100%;
    }

    #dev-studio button {
        height: 100%;
        border: 1px solid #17255A;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px 12px;
    }

    #dev-studio p {
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 162%;
        letter-spacing: 0.4px;
        color: #273043;
    }

    #dev-studio button a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #17255A;
    }

    /* Learnable Nav Links */
    #learnable-nav-container {
        position: fixed;
        top: 0;
        width: 100%;
        
    }

    .learnable-nav-links {
        width: 100%;
        font-family: 'Nunito', sans-serif;
        background: #17255A;
        height: fit-content;
        padding: .7em;
        list-style-type: none;
        display: flex;
        height: fit-content;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .learnable-nav-links button {
        height: 100%;
        margin: 0em 1em;
        background-color: transparent;
        border: none;
    }

    .learnable-nav-links a {
        height: 100%;
        letter-spacing: 1.25px;
        text-decoration: none;
        text-decoration: underline;
        color: #EEEEEE;
        text-transform: uppercase;
        align-self: center;
    }

    .learnable-nav-links a:active,
    .learnable-nav-links a:hover {
        color: #EAC435;
    }
}