#footer {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    height: 30.3125rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: #273043;
    padding: 3rem;
    padding-top: 5rem;
}

#footer-content {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    justify-content: center;
    height: fit-content;
    padding-bottom: 3rem;
}

#footer-nav-buttons {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer button {
    background-color: transparent;
    border: none;
    margin-top: 22.5px;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: normal;
    font-size: .9em;
    line-height: 110.19%;
    letter-spacing: 1.25px;
    text-decoration-line: underline;
}

#footer a:link,
#footer a:visited,
#footer a:active {
    text-decoration: none;
    line-height: 110.19%;
    color: #273043;
}

#footer button:hover {
    opacity: 0.6;
}

#contact-us {
    align-self: flex-start;
    justify-self: center;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-align: left;
}

#contact-us p {
    width: 22.9375em;
}

#contact-us button,
#dev-studio-text button {
    padding-left: 0px;
}

#footer-dev-studio {
    align-self: flex-start;
    font-family: 'Nunito', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#dev-studio img {
    height: 13em;
    width: 13em;
    border-radius: 0px;
}

#dev-studio-text {
    align-self: flex-end;
}

#dev-studio-text p {
    width: 11.125em;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-align: left;
}

#social-media-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social-media-container {
    height: fit-content;
    padding-top: .8em;
    padding-bottom: .8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}

#copyright {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: fit-content;
}

#copyright a:link, #copyright a:visited{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 1.5px;
    text-align: left;
}

#copyright a:hover{
    text-decoration: underline;
    opacity: 0.7;
}