.main-container {
    background-color: #EEEEEE;

}

#genesys-opportunities {
    height: 1067px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;
    padding-bottom: 100px;
}

#hero h1 {
    height: 157px;
    width: 654px;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #17255A;
    padding: 50px 100px;
    padding-top: 126px;
}

#hero p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #273043;
    padding: 50px 100px;
    padding-top: 0px;
    width: 467px;
}

#hero-image {
    width: 100%;
    display: grid;
    grid-template-columns: 10.41% 1fr;
}

#hero-image img:nth-child(2) {
    width: 100%;
}

#hero-image div {
    display: flex;
    padding-top: 70%;
    justify-content: center;
}

#hero-image div a {
    height: fit-content;
}

.service-deliveries-container {
    height: 780px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service-deliveries {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.service-deliveries-container h3 {
    align-self: center;
    width: 460px;
    height: 132px;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 110.19%;
    letter-spacing: -0.5px;
    color: #17255A;
    margin-left: 100px;
}

#fig-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-bottom: 0;
}

#fig-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
    padding: 0;
}

#fig-1 figcaption {
    align-self: center;
    width: 157px;
}

#fig-1 a {
    height: 74px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 110.19%;
    letter-spacing: 0.25px;
    text-decoration-line: underline;
    color: #17255A;
}

#fig-2 a {
    width: 148px;
    height: 47px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 110.19%;
    letter-spacing: 0.25px;
    text-decoration-line: underline;
    color: #17255A;
}

#fig-2 figcaption {
    width: 174px;
}

#fig-1 a:hover,
#fig-2 a:hover {
    opacity: 0.7;
}